<div class="form-row">
  <div class="form-group col-md-4 tex-bold ">
    <label for="em-f" class="font-weight-bold text-primary">Ecuación a iterar:</label>
    <small class="form-text text-muted">
      Ejemplo: x+y (no espacios)
    </small>
    <input type="text" placeholder="Escriba una ecuación válida" id="em-f" name="em-f" class="form-control" required>
  </div>
  <div class="form-group col-md-4">
    <label class="font-weight-bold text-primary" for="em-iteraciones">Número de iteraciones:</label>
    <input type="number" placeholder="Debe ser un entero mayor de 0" id="em-iteraciones" name="em-iteraciones" class="form-control" min="0" required>
  </div>

  <div class="form-group col-md-4">
    <label class="font-weight-bold text-primary" for="em-paso">Tamaño de paso: Ej: 0.2</label>
    <input type="number" placeholder="Debe ser un decimal mayor de 0" id="em-paso" name="em-paso" class="form-control" step="any" min="0" required>
  </div>

  <div class="form-group col-md-4">
    <label class="font-weight-bold text-primary" for="em-x">Valor de x:</label>
    <input type="number" placeholder="Debe ser un decimal mayor de 0" id="em-x" name="em-x" class="form-control" step="any" min="0" required>
  </div>

  <div class="form-group col-md-4">
    <label class="font-weight-bold text-primary" for="em-y">Valor de y:</label>
    <input type="number" placeholder="Debe ser un decimal mayor de 0" id="em-y" name="em-y" class="form-control" step="any" min="0" required>
  </div>

  
</div>
