<div class="form-row">
  <div class="form-group col-md-4 tex-bold ">
    <label for="em-f" class="font-weight-bold text-primary">Ecuación a iterar:</label>
    <small class="form-text text-muted">
      Ejemplo: 4x*y+5 (no espacios)
    </small>
    <input type="text" placeholder="Escriba una ecuación válida" id="em-f" name="em-f" class="form-control" required>
  </div>

  <div class="form-group col-md-4">
    <label class="font-weight-bold text-primary" for="em-iteraciones">Valor final de x (xn):</label>
    <input type="number" placeholder="Debe ser un decimal mayor que 0" id="em-iteraciones" name="em-iteraciones" class="form-control" step="any" min="0" required>
  </div>

  <div class="form-group col-md-4">
    <label class="font-weight-bold text-primary" for="em-paso">Tamaño de paso (h): Ej: 0.01</label>
    <input type="number" placeholder="Debe ser un decimal mayor que 0" id="em-paso" name="em-paso" class="form-control" step="any" min="0" required>
  </div>

  <div class="form-group col-md-4">
    <label class="font-weight-bold text-primary" for="em-x">Valor inicial de x (x0):</label>
    <input type="number" placeholder="Debe ser un decimal" id="em-x" name="em-x" class="form-control" step="any" required>
  </div>

  <div class="form-group col-md-4">
    <label class="font-weight-bold text-primary" for="em-y">Valor inicial de y (y0):</label>
    <input type="number" placeholder="Debe ser un decimal" id="em-y" name="em-y" class="form-control" step="any" required>
  </div>
</div>
