
<div class="form-group">
  <label class="font-weight-bold text-primary"  for="nr-f">
    Ecuación a iterar:
  </label>
  <small class="form-text text-muted">
    Ejemplo: x^3-4*x+1 (no espacios)
  </small>
  <input type="text" placeholder="Escriba una ecuación valida" id="nr-f" name="nr-f" class="form-control" step="any"
    min="0" required>
</div>
<div class="form-group">
  <label class="font-weight-bold text-primary"  for="nr-x">
    Primer valor de x:
  </label>
  <input type="number" placeholder="Debe ser un decimal mayor de 0" id="nr-x" name="nr-x" class="form-control"
    step="any" min="0" required>
</div>
