
<div class="form-row">
  <div class="form-group col-md-12">
    <label class="font-weight-bold text-primary" for="rk4o-f">Ecuación a iterar:</label>
    <input type="text" placeholder="Escriba una ecuación válida" id="rk4o-f" name="rk4o-f" class="form-control" required>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label class="font-weight-bold text-primary" for="rk4o-paso">Tamaño de paso:</label>
    <input type="number" placeholder="Debe ser un decimal mayor de 0" id="rk4o-paso" name="rk4o-paso" class="form-control" step="any" min="0" required>
  </div>

  <div class="form-group col-md-6">
    <label class="font-weight-bold text-primary" for="rk4o-x0">Valor inicial de x:</label>
    <input type="number" placeholder="Debe ser un decimal mayor de 0" id="rk4o-x0" name="rk4o-x0" class="form-control" step="any" min="0" required>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label class="font-weight-bold text-primary" for="rk4o-y">Valor de y:</label>
    <input type="number" placeholder="Debe ser un decimal mayor de 0" id="rk4o-y" name="rk4o-y" class="form-control" step="any" min="0" required>
  </div>

  <div class="form-group col-md-6">
    <label class="font-weight-bold text-primary" for="rk4o-yn">Valor final de x:</label>
    <input type="number" placeholder="Debe ser un decimal mayor de 0" id="rk4o-yn" name="rk4o-yn" class="form-control" step="any" min="0" required>
  </div>
</div>
