<!-- Contenedor principal de la tabla -->
<div class="table-scroll-container">
  <!-- Tabla para el encabezado fijo -->
  <table id="euler-table" class="display">
      <thead>
          <tr>
              <th>n</th>
              <th>x{n}</th>
              <th>Aproximación</th>
              <th>f(x, y)</th>
              <th>dy</th>
              <th>y{n+1}</th>
          </tr>
      </thead>
      <tbody id="euler-body-table">
          <!-- Las filas se agregarán aquí dinámicamente -->
      </tbody>
  </table>
</div>